absl-py==2.1.0
alembic==1.12.0
altair==5.2.0
annotated-types==0.6.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.11.7
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
audioread==3.0.1
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.7.0
branca==0.5.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.0
colorama==0.4.5
commonmark==0.9.1
contourpy==1.2.0
cycler==0.12.1
Cython==0.29.32
dacite==1.8.1
dask==2022.7.1
databricks-cli==0.18.0
db-dtypes==1.0.4
deap==1.3.3
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
dm-tree==0.1.8
docker==6.1.3
entrypoints==0.4
etils==0.8.0
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.16.2
filelock==3.12.4
flake8==4.0.1
Flask==2.3.3
flatbuffers==23.5.26
flowmeter==0.0.3
folium==0.12.1.post1
fonttools==4.49.0
fsspec==2022.10.0
gast==0.5.4
gensim==4.2.0
gitdb==4.0.11
GitPython==3.1.42
google-api-core==2.10.2
google-auth==2.28.1
google-auth-oauthlib==1.2.0
google-cloud-bigquery==2.34.4
google-cloud-bigquery-storage==2.16.2
google-cloud-core==2.3.2
google-cloud-storage==2.4.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
google-trans-new==1.1.9
googleapis-common-protos==1.56.4
graphviz==0.20.1
grpcio==1.62.0
grpcio-status==1.48.2
gunicorn==21.2.0
h11==0.12.0
h5py==3.10.0
htmlmin==0.1.12
httpcore==0.15.0
httpx==0.23.0
huggingface-hub==0.16.4
idna==3.6
ImageHash==4.3.1
imageio==2.22.2
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata==7.0.1
importlib-resources==5.10.0
iniconfig==2.0.0
ipdb==0.13.9
ipykernel==6.15.3
ipympl==0.9.2
ipython==8.22.1
ipython-genutils==0.2.0
ipywidgets==7.7.2
isort==5.10.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
json5==0.9.10
jsonpickle==3.0.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.5.0
jupyter-resource-usage==0.6.3
jupyter-server==1.21.0
jupyter_client==7.4.3
jupyter_core==4.11.2
jupyter_latex_envs==1.4.6
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.16.1
kaggle==1.5.12
kagglehub==0.1.9
keras==2.15.0
keras-core==0.1.7
keras-nlp==0.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
lazy-object-proxy==1.7.1
lazy_loader==0.3
libclang==16.0.6
librosa==0.10.1
llvmlite==0.42.0
locket==1.0.0
lxml==4.9.1
Mako==1.2.4
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
memoized-property==1.0.3
midi2audio==0.1.1
mido==1.3.2
missingno==0.5.1
mistune==0.8.4
ml-dtypes==0.2.0
mlflow==2.7.1
mlxtend==0.23.1
more-itertools==10.2.0
mpmath==1.3.0
msgpack==1.0.7
multimethod==1.8
music21==9.1.0
namex==0.0.7
nbclassic==0.4.7
nbclient==0.7.0
nbconvert==6.5.4
nbformat==5.7.0
nbresult==0.0.9
nest-asyncio==1.5.6
networkx==2.8.7
nltk==3.7
notebook==6.4.12
notebook_shim==0.2.0
numba==0.59.0
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.2
pandas==2.2.1
pandas-gbq==0.17.9
pandas-profiling==3.6.6
pandocfilters==1.5.0
parso==0.8.3
partd==1.3.0
patsy==0.5.3
pexpect==4.9.0
phik==0.12.2
pickleshare==0.7.5
pillow==10.2.0
platformdirs==4.2.0
plotly==5.9.0
pluggy==1.4.0
pmdarima==2.0.1
pooch==1.8.1
pretty-midi==0.2.10
prometheus-client==0.15.0
promise==2.3
prompt-toolkit==3.0.43
proto-plus==1.22.1
protobuf==4.25.3
psutil==5.9.3
psycopg2-binary==2.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==15.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.14
pydantic_core==2.14.6
pydata-google-auth==1.4.0
pydeck==0.8.1b0
pyflakes==2.4.0
pyFluidSynth==1.3.3
pygeohash==1.2.0
Pygments==2.17.2
PyJWT==2.8.0
pylint==2.14.5
Pympler==1.0.1
pyo==1.0.5
pyparsing==3.1.1
pyrsistent==0.18.1
pytesseract==0.3.10
pytest==8.0.0
pytest-asyncio==0.19.0
python-dateutil==2.9.0
python-dotenv==0.20.0
python-slugify==6.1.2
pytz==2024.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==24.0.1
querystring-parser==1.2.4
referencing==0.33.0
regex==2022.9.13
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
sacremoses==0.0.53
safetensors==0.3.3
scapy==2.5.0
scikit-image==0.19.3
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
sentencepiece==0.1.99
setuptools-scm==6.4.2
six==1.16.0
smart-open==6.2.0
smmap==5.0.1
sniffio==1.3.0
soundfile==0.12.1
-e git+ssh://git@github.com/Philhobs/Sound-To-Symphony.git@c332cf8b20a248cea0f95eaf05f7a74e4d22900b#egg=SoundtoSymphony
soupsieve==2.3.2.post1
soxr==0.3.7
SQLAlchemy==2.0.21
sqlparse==0.4.4
stack-data==0.6.3
statsmodels==0.13.2
stopit==1.1.2
streamlit==1.32.0
streamlit-option-menu==0.3.12
sympy==1.12
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.15.0
tensorflow-datasets==4.6.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
tensorflow-metadata==1.10.0
termcolor==2.4.0
terminado==0.16.0
text-unidecode==1.3
threadpoolctl==3.3.0
tifffile==2022.10.10
tinycss2==1.2.1
tokenizers==0.14.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
toolz==0.12.1
torch==2.1.0
tornado==6.4
TPOT==0.11.7
tqdm==4.64.1
traitlets==5.14.1
transformers==4.34.0
typeguard==2.13.3
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
update-checker==0.18.0
urllib3==2.2.1
validators==0.22.0
visions==0.7.5
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==3.0.1
widgetsnbextension==3.6.1
wordcloud==1.9.3
wrapt==1.14.1
xgboost==1.6.2
XlsxWriter==3.0.3
yapf==0.32.0
ydata-profiling==4.1.2
zipp==3.17.0
